.container-page-login {
  background-color: rgb(227, 249, 250);
  height: 100%;
}

.login-page-row {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.login-page-column {
  padding-top: 12%;
}
