.login-row{
    padding: 15px;

}
.box-container{
    width: 20rem;
    height: 18rem;
    background-color: white;
    border-radius: 10px;
}

.error-message-login{
    text-align: center;
    font-size: small;
    color: red;
    height: 10px;
}


